In [1]:
print("ali")
print(2+5)

ali
7

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
a=10
a ="asdf"

In [6]:
a = 10
b = "al"
c = 'al'
d = """al"""
e = '''al'''

In [7]:
c==d
b==e

True

True

In [8]:
d = """al
asdf
asdf"""

In [9]:
d

'al\nasdf\nasdf'

In [10]:
d ='a
asdf'

SyntaxError: unterminated string literal (detected at line 1) (833963004.py, line 1)

In [ ]:
a = 1123
a = "asdf"
asdf = 987654
c = asdf

In [13]:
print("asdfasdfasld asdfas asdf asdf asf asdf sadfasdfasfa asdf \
    asdf asdf asdf asdf asdf asdf asdf asdf \
      asdfasfdasdfasdfsadfasdfsadfaasdf asdfasdfsadfasf  \
      asdfasdf")

asdfasdfasld asdfas asdf asdf asf asdf sadfasdfasfa asdf     asdf asdf asdf asdf asdf asdf asdf asdf       asdfasfdasdfasdfsadfasdfsadfaasdf asdfasdfsadfasf        asdfasdf

In [14]:
print("asdfasdfasld asdfas asdf asdf asf asdf sadfasdfasfa asdf ",
    "asdf asdf asdf asdf asdf asdf asdf asdf \
      asdfasfdasdfasdfsadfasdfsadfaasdf asdfasdfsadfasf  \
      asdfasdf")

asdfasdfasld asdfas asdf asdf asf asdf sadfasdfasfa asdf  asdf asdf asdf asdf asdf asdf asdf asdf       asdfasfdasdfasdfsadfasdfsadfaasdf asdfasdfsadfasf        asdfasdf

In [ ]:
a =10
a= "asdf"

In [15]:
+
/

SyntaxError: invalid syntax (74556495.py, line 1)

In [ ]:
-*()&&

In [18]:
a = 2**5

In [19]:
a

32

In [22]:
not(False)

True

In [25]:
a =32
b =3
a%b

2

In [27]:
a = 32
b = 3

a/b
a//b

10.666666666666666

10

In [28]:
a = 10

In [29]:
a == 10

True

In [30]:
a is 10

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12592\2365217341.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 10

True

In [31]:
a = 10
b = 10

a is b

True

In [32]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London"
}

In [33]:
country_capitals1 = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London"
}

In [34]:
country_capitals is country_capitals1

False

In [35]:
country_capitals == country_capitals1

True

In [41]:
country_capitals1 = country_capitals

In [42]:
country_capitals is country_capitals1

True

In [37]:
a = [1,2,3,4,5,6]
b = [1,2,3,4,5,6]

In [38]:
a is b
a == b

False

True

In [39]:
a = [1,2,3,4,5,6]
b= a

In [40]:
a is b

True

In [43]:
a==b

True

In [44]:
a = [1,2,3,4,5,6]
b= a 
b[2] =100

In [45]:
b

[1, 2, 100, 4, 5, 6]

In [46]:
a

[1, 2, 100, 4, 5, 6]

In [51]:
a = [1,2,3,4,5,6]
b = a
print("id of a",id(a))
print("id of b",id(b))

id of a 1490741808832
id of b 1490741808832

In [52]:
b= a[:]
b is a 
b ==a
print("id of a ",id(a))
print("id of b ",id(b))

False

True

id of a  1490741808832
id of b  1490717895744

In [49]:

b[2] =100
b
a

id of a  1490741957888
id of a  1490741957888

False

True

id of a  1490741957888
id of a  1490740654400

[1, 2, 100, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [53]:
a != b

False

In [ ]:
Numbers

Strings f"string"
lists
--sequence types

dictionary
sets

boolean
    True or False

In [ ]:
a =False
b = True
# a1 = false 
# b1 = true

In [ ]:
a and b
a or b 
# a not b
not(a)

In [57]:
atrue = True 
btrue = True
afalse = False
bFalse = False

True

True

False

True

In [59]:
True and True

True

In [ ]:
atrue or btrue

In [ ]:
atrue and afalse

In [ ]:
atrue or afalse

In [60]:
True and True
True or True

True

True

In [61]:
True and False
True or False

False

True

In [64]:
a = 10 
print(r"value of a \n as ")

value of a \n as

In [68]:
a = 10 
print("value of " + str(a)+ " as ")
print(f"value of {a} as ")

value of 10 as
value of 10 as

In [ ]:
a = [1,3,4,5,"as",[23,4],["sdf","sdf"]]

In [9]:
a ="987654"
type(a)
len(a)

str

6

In [10]:
a =[9,8,7,6,5,4]
type(a)
len(a)

list

6

In [11]:
a = (9,8,7,6,5,4)
type(a)
len(a)

tuple

6

In [12]:
a= {"a":234,"b":234,}
type(a)
len(a)

dict

2

In [13]:
a = (9,8,7,6,5,4)
a[2] = 99

TypeError: 'tuple' object does not support item assignment

In [14]:
a = [9,8,7,6,5,4]
a[2] = 99

In [15]:
a

[9, 8, 99, 6, 5, 4]

In [18]:
a = list([9,8,7,6,5,4])

In [19]:
type(a)

list

In [24]:
import random
random.random()

0.3533783714578854

In [31]:
random.randint(1,100)

13

In [35]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [47]:
a = "All apples are bad"

In [48]:
type(a)

str

In [44]:
class A():
    def fun1(self,):
        print("fun1")

In [46]:
a = A()
a.fun1()
type(a)

fun1

__main__.A

In [49]:
a= [1,2,3,4]
a[0]
a[0] =561

1

In [56]:
a= [1,2,3,4]
a.append([5,6,7,8])
a

[1, 2, 3, 4, [5, 6, 7, 8]]

In [57]:
a= [1,2,3,4]
a.extend([5,6,8,9,])
a

[1, 2, 3, 4, 5, 6, 8, 9]

In [61]:
a= [1,2,3,4]
a.clear()
a

[]

In [68]:
a= [1,2,3,4,5,6,7,8,9]
a[2:8:2]

[3, 5, 7]

In [70]:
[1,2,3,4,5,6,7,8,9]
b = a
id(b)
id(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2412767726848

2412767726848

In [71]:
[1,2,3,4,5,6,7,8,9]
b = a.copy()
id(b)
id(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2412772995968

2412767726848

In [72]:
a= [1,2,3,4,5,6,7,8,9]
b = a[:]
id(b)
id(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2412772992512

2412767726848

In [73]:
a= [1,2,3,4,5,6,7,8,9,[1,2,3]]
b = a[:]
id(b)
id(a)

2412772985728

2412772272384

In [74]:
a 
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3]]

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3]]

In [76]:
b[9][1]=20

In [77]:
a
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 20, 3]]

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 20, 3]]

In [80]:
for i in a[8:]:
    print(id(i))
    
print("\n\n\n")
for i in b[8:]:
    print(id(i))

140714898220072
2413576138752




140714898220072
2413576138752

In [85]:
import copy
a= [1,2,3,4,5,6,7,8,9,[1,2,3]]
a.count(2)

a.__len__()
len(a)

1

10

10

In [87]:
a= [1,2,3,4,5,6,7,8,9,[1,2,3]]
a.index([1,2,3])

9

In [89]:
a.insert(2,52)

In [90]:
a

[1, 2, 52, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3]]

In [91]:
a= [1,2,3,4,5,6,7,8,9,[1,2,3]]
a.append(56)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3], 56]

In [97]:
a= [1,2,3,4,5,6,7,8,9,[1,2,3]]
a.insert(10,56)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3], 56]

In [2]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
a = 10
b = 20

a, b = 10,20,30

In [5]:
a, *b = 10,20,30
a 
b

10

[20, 30]

In [6]:
a =[1,2,3,4,5]
b = (1,2,3,4,5)
type(a)
type(b)

list

tuple

In [8]:
a =[1,2,3,4,5]
b = [1,2,3,4,5,6]
list(zip(a,b))

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5)]

In [2]:
a = (1,2,3,[4,5,6])

In [4]:
a[3].append(6)

In [5]:
a

(1, 2, 3, [4, 5, 6, 6])

In [7]:
for i in a:
    print(id(i))

140723772384040
140723772384072
140723772384104
2708453890944

In [8]:
a[3] =[4,5,6,6]

TypeError: 'tuple' object does not support item assignment

In [10]:
a.index(3)

2

In [ ]:
type()
id()

In [ ]:
key value pairs.
associated array

In [11]:
a = {"a": 23,"b":234}

In [ ]:
b = "aba"

In [12]:
a = {"a": 23,"b":234}

In [13]:
a["a"] =3234

In [14]:
a

{'a': 3234, 'b': 234}

In [15]:
a = {"a": 23,"b":{"af": "wer",}}

In [19]:
a["b"]["af"]

'wer'

<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_11572\1429867849.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  a["b"["af"]]

TypeError: string indices must be integers, not 'str'

In [22]:
ab = "1234"
cd = "56798"

a = {ab:"wer","cd":"234"}

In [23]:
a

{'1234': 'wer', 'cd': '234'}

In [26]:
"b"["af"]

<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_11572\2624987609.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  "b"["af"]

TypeError: string indices must be integers, not 'str'

In [ ]:
a["b"["af"]]

In [24]:
c = {"wer":234}
c[a[ab]]

234

In [27]:
a[ab]

'wer'

In [46]:
countries = ["us","india"]
capitals = ["wd","delhi"]

In [47]:
print(countries[0]+" is having "+capitals[0])

us is having wd

In [48]:
countries.sort()

In [37]:
countries

['india', 'us']

In [49]:
print(f"{countries[0]} is having {capitals[0]}")

india is having wd

In [50]:
countris_capitals = {"india":"del","us":"wd"}

In [52]:
a = [1,2,3,4]
b = [3,4,2,1]

a==b

False

In [53]:
countris_capitals = {"india":"del","us":"wd"}
countris_capitals1 = {"us":"wd","india":"del"}

countris_capitals == countris_capitals1

True