In [1]:
print("ali")
print(2+5)

ali
7

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
a=10
a ="asdf"

In [6]:
a = 10
b = "al"
c = 'al'
d = """al"""
e = '''al'''

In [7]:
c==d
b==e

True

True

In [8]:
d = """al
asdf
asdf"""

In [9]:
d

'al\nasdf\nasdf'

In [10]:
d ='a
asdf'

SyntaxError: unterminated string literal (detected at line 1) (833963004.py, line 1)

In [ ]:
a = 1123
a = "asdf"
asdf = 987654
c = asdf

In [13]:
print("asdfasdfasld asdfas asdf asdf asf asdf sadfasdfasfa asdf \
    asdf asdf asdf asdf asdf asdf asdf asdf \
      asdfasfdasdfasdfsadfasdfsadfaasdf asdfasdfsadfasf  \
      asdfasdf")

asdfasdfasld asdfas asdf asdf asf asdf sadfasdfasfa asdf     asdf asdf asdf asdf asdf asdf asdf asdf       asdfasfdasdfasdfsadfasdfsadfaasdf asdfasdfsadfasf        asdfasdf

In [14]:
print("asdfasdfasld asdfas asdf asdf asf asdf sadfasdfasfa asdf ",
    "asdf asdf asdf asdf asdf asdf asdf asdf \
      asdfasfdasdfasdfsadfasdfsadfaasdf asdfasdfsadfasf  \
      asdfasdf")

asdfasdfasld asdfas asdf asdf asf asdf sadfasdfasfa asdf  asdf asdf asdf asdf asdf asdf asdf asdf       asdfasfdasdfasdfsadfasdfsadfaasdf asdfasdfsadfasf        asdfasdf

In [ ]:
a =10
a= "asdf"

In [15]:
+
/

SyntaxError: invalid syntax (74556495.py, line 1)

In [ ]:
-*()&&

In [18]:
a = 2**5

In [19]:
a

32

In [22]:
not(False)

True

In [25]:
a =32
b =3
a%b

2

In [27]:
a = 32
b = 3

a/b
a//b

10.666666666666666

10

In [28]:
a = 10

In [29]:
a == 10

True

In [30]:
a is 10

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12592\2365217341.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 10

True

In [31]:
a = 10
b = 10

a is b

True

In [32]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London"
}

In [33]:
country_capitals1 = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London"
}

In [34]:
country_capitals is country_capitals1

False

In [35]:
country_capitals == country_capitals1

True

In [41]:
country_capitals1 = country_capitals

In [42]:
country_capitals is country_capitals1

True

In [37]:
a = [1,2,3,4,5,6]
b = [1,2,3,4,5,6]

In [38]:
a is b
a == b

False

True

In [39]:
a = [1,2,3,4,5,6]
b= a

In [40]:
a is b

True

In [43]:
a==b

True

In [44]:
a = [1,2,3,4,5,6]
b= a 
b[2] =100

In [45]:
b

[1, 2, 100, 4, 5, 6]

In [46]:
a

[1, 2, 100, 4, 5, 6]

In [51]:
a = [1,2,3,4,5,6]
b = a
print("id of a",id(a))
print("id of b",id(b))

id of a 1490741808832
id of b 1490741808832

In [52]:
b= a[:]
b is a 
b ==a
print("id of a ",id(a))
print("id of b ",id(b))

False

True

id of a  1490741808832
id of b  1490717895744

In [49]:

b[2] =100
b
a

id of a  1490741957888
id of a  1490741957888

False

True

id of a  1490741957888
id of a  1490740654400

[1, 2, 100, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [53]:
a != b

False

In [ ]:
Numbers

Strings f"string"
lists
--sequence types

dictionary
sets

boolean
    True or False

In [ ]:
a =False
b = True
# a1 = false 
# b1 = true

In [ ]:
a and b
a or b 
# a not b
not(a)

In [57]:
atrue = True 
btrue = True
afalse = False
bFalse = False

True

True

False

True

In [59]:
True and True

True

In [ ]:
atrue or btrue

In [ ]:
atrue and afalse

In [ ]:
atrue or afalse

In [60]:
True and True
True or True

True

True

In [61]:
True and False
True or False

False

True

In [64]:
a = 10 
print(r"value of a \n as ")

value of a \n as

In [68]:
a = 10 
print("value of " + str(a)+ " as ")
print(f"value of {a} as ")

value of 10 as
value of 10 as

In [ ]:
a = [1,3,4,5,"as",[23,4],["sdf","sdf"]]

In [9]:
a ="987654"
type(a)
len(a)

str

6

In [10]:
a =[9,8,7,6,5,4]
type(a)
len(a)

list

6

In [11]:
a = (9,8,7,6,5,4)
type(a)
len(a)

tuple

6

In [12]:
a= {"a":234,"b":234,}
type(a)
len(a)

dict

2

In [13]:
a = (9,8,7,6,5,4)
a[2] = 99

TypeError: 'tuple' object does not support item assignment

In [14]:
a = [9,8,7,6,5,4]
a[2] = 99

In [15]:
a

[9, 8, 99, 6, 5, 4]

In [18]:
a = list([9,8,7,6,5,4])

In [19]:
type(a)

list

In [24]:
import random
random.random()

0.3533783714578854

In [31]:
random.randint(1,100)

13

In [35]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [47]:
a = "All apples are bad"

In [48]:
type(a)

str

In [44]:
class A():
    def fun1(self,):
        print("fun1")

In [46]:
a = A()
a.fun1()
type(a)

fun1

__main__.A

In [49]:
a= [1,2,3,4]
a[0]
a[0] =561

1

In [56]:
a= [1,2,3,4]
a.append([5,6,7,8])
a

[1, 2, 3, 4, [5, 6, 7, 8]]

In [57]:
a= [1,2,3,4]
a.extend([5,6,8,9,])
a

[1, 2, 3, 4, 5, 6, 8, 9]

In [61]:
a= [1,2,3,4]
a.clear()
a

[]

In [68]:
a= [1,2,3,4,5,6,7,8,9]
a[2:8:2]

[3, 5, 7]

In [70]:
[1,2,3,4,5,6,7,8,9]
b = a
id(b)
id(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2412767726848

2412767726848

In [71]:
[1,2,3,4,5,6,7,8,9]
b = a.copy()
id(b)
id(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2412772995968

2412767726848

In [72]:
a= [1,2,3,4,5,6,7,8,9]
b = a[:]
id(b)
id(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2412772992512

2412767726848

In [73]:
a= [1,2,3,4,5,6,7,8,9,[1,2,3]]
b = a[:]
id(b)
id(a)

2412772985728

2412772272384

In [74]:
a 
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3]]

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3]]

In [76]:
b[9][1]=20

In [77]:
a
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 20, 3]]

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 20, 3]]

In [80]:
for i in a[8:]:
    print(id(i))
    
print("\n\n\n")
for i in b[8:]:
    print(id(i))

140714898220072
2413576138752




140714898220072
2413576138752

In [85]:
import copy
a= [1,2,3,4,5,6,7,8,9,[1,2,3]]
a.count(2)

a.__len__()
len(a)

1

10

10

In [87]:
a= [1,2,3,4,5,6,7,8,9,[1,2,3]]
a.index([1,2,3])

9

In [89]:
a.insert(2,52)

In [90]:
a

[1, 2, 52, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3]]

In [91]:
a= [1,2,3,4,5,6,7,8,9,[1,2,3]]
a.append(56)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3], 56]

In [97]:
a= [1,2,3,4,5,6,7,8,9,[1,2,3]]
a.insert(10,56)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 3], 56]

In [2]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
a = 10
b = 20

a, b = 10,20,30

In [5]:
a, *b = 10,20,30
a 
b

10

[20, 30]

In [6]:
a =[1,2,3,4,5]
b = (1,2,3,4,5)
type(a)
type(b)

list

tuple

In [9]:
a =[1,2,3,4,5]
b = [1,2,3,4,5,6]
list(zip(a,b))

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5)]

In [7]:
def fun1():
    print("thirdfile complex logic of 2000 lines")
    


dir(fun1)

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__getstate__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [6]:
list1 = [1,2,3,4]
for i in dir(list1):
    print(i,type(i))

__add__ <class 'str'>
__class__ <class 'str'>
__class_getitem__ <class 'str'>
__contains__ <class 'str'>
__delattr__ <class 'str'>
__delitem__ <class 'str'>
__dir__ <class 'str'>
__doc__ <class 'str'>
__eq__ <class 'str'>
__format__ <class 'str'>
__ge__ <class 'str'>
__getattribute__ <class 'str'>
__getitem__ <class 'str'>
__getstate__ <class 'str'>
__gt__ <class 'str'>
__hash__ <class 'str'>
__iadd__ <class 'str'>
__imul__ <class 'str'>
__init__ <class 'str'>
__init_subclass__ <class 'str'>
__iter__ <class 'str'>
__le__ <class 'str'>
__len__ <class 'str'>
__lt__ <class 'str'>
__mul__ <class 'str'>
__ne__ <class 'str'>
__new__ <class 'str'>
__reduce__ <class 'str'>
__reduce_ex__ <class 'str'>
__repr__ <class 'str'>
__reversed__ <class 'str'>
__rmul__ <class 'str'>
__setattr__ <class 'str'>
__setitem__ <class 'str'>
__sizeof__ <class 'str'>
__str__ <class 'str'>
__subclasshook__ <class 'str'>
append <class 'str'>
clear <class 'str'>
copy <class 'str'>
count <class 'str'>
extend <class 'str'>
index <class 'str'>
insert <class 'str'>
pop <class 'str'>
remove <class 'str'>
reverse <class 'str'>
sort <class 'str'>

In [8]:
a = (1,2,3)
a[2]=256

TypeError: 'tuple' object does not support item assignment

In [12]:
a = (1,2,[1,2,3])
for i in a:
    print(id(i))
a[2][1]=256
print("--------------")
for i in a:
    print(id(i))

140736780952360
140736780952392
2796568511488
--------------
140736780952360
140736780952392
2796568511488

In [11]:
a = [1,2,3,[5,6,7]]
a[3][1]

6

In [13]:
list1 = [{"name":"fn","saraly":234},{"name":"5sdf","saraly":1323}]
# df1.iterrows() ( indexposition, {dictionary})
for i in list1:
    print(i["name"])

fn
5sdf

In [14]:

def divide_into_days(birth_day, birth_month):
    if birth_day < 10:
        birth_day1 = 0
        
        birth_day2 = birth_day

    elif birth_day <20:
        birth_day1 = 1
        birth_day2 = list(str(birth_day))[1]

    elif birth_day <30:
        birth_day1 = 2
        birth_day2 = list(str(birth_day))[1]

    elif birth_day <32:
        birth_day1 = 3
        birth_day2 = list(str(birth_day))[1]

    if birth_month <10:
        birth_month1 = 0
        birth_month2 = list(str(birth_month))[0]

    else:
        birth_month1 =1 
        birth_month2 = list(str(birth_month))[1]

    return birth_day1,birth_day2,birth_month1,birth_month2

divide_into_days(15,8)

(1, '5', 0, '8')

In [15]:
a =10
int
b = 20
a+b
a= "ast"
b = "234"
a+b

30

'ast234'

In [17]:
class A():
    pass

a = A()
b =A()
a+b
type(a)

TypeError: unsupported operand type(s) for +: 'A' and 'A'

In [1]:
a1 = "welcome"
type(a1)
a1 = 234
type(a1)

str

int

In [5]:
a1 = "welcome"
type(a1)

a1.__len__()

len(a1)

str

7

7

In [ ]:
x = 10
y =5
def add():
    return x+y

def sub():
    return x-y

In [ ]:

def add(x,y):
    return x+y

def sub(x,y,):
    return x-y

add(10,5)
sub(10,5)

In [ ]:
import pandas as pd

df1 = pd.read_csv()
df1.head()

head(df1)

tail(df1)

In [ ]:
employee = {"name":"asdf","role":"mgr","sal":3622}
employee2 = {"name":"asdf","role":"empl","sal":3622}

def increase_sal_emp(employee,percentage):
    employee["sal"] = employee["sal"]*percentage
    
def increase_sal_mgr(employee,percentage):
    employee["sal"] = employee["sal"]*percentage
    
if employee["role"] == "mgr"

In [ ]:
employee = {"name":"asdf","role":"mgr","sal":3622}
employee2 = {"name":"asdf","role":"empl","sal":3622}

def increase_sal_emp(employee,percentage):
    if employee["role"] == "mgr":
        employee["sal"] = employee["sal"]*percentage*20
    else:

In [ ]:
employee = {"name":"asdf","role":"mgr","sal":3622}
employee2 = {"name":"asdf","role":"empl","sal":3622}

employee.increase_

In [6]:
accountNamesList = ["zbc","joe"]
accountBalancesList = [123,23456]
accountPasswordsList = ["asdf","azdf"]

In [9]:
accountNamesList.sort()

In [10]:
accountNamesList[1]
accountPasswordsList[1]

'zbc'

'azdf'

In [11]:
type(accountNamesList)
a= list([12])

list

In [22]:
switchIsOn = False  
def turnOn(switchIsOn):
    # global switchIsOn
    print(switchIsOn)
    # turn the light on 
    switchIsOn = True
    print(switchIsOn)

def turnOff(switchIsOn):
    # global switchIsOn
    print(switchIsOn)
    # turn the light off
    switchIsOn = False
    print(switchIsOn)
    
# Main code
   # a global Boolean variable
turnOn(switchIsOn)
turnOff(switchIsOn)

False
True
False
False

In [23]:
switchIsOn = False  
def turnOn():
    global switchIsOn
    print(switchIsOn)
    # turn the light on 
    switchIsOn = True
    print(switchIsOn)

def turnOff():
    global switchIsOn
    print(switchIsOn)
    # turn the light off
    switchIsOn = False
    print(switchIsOn)
    
# Main code
   # a global Boolean variable
turnOn()
turnOff()

False
True
True
False

In [ ]:
class CLASSNAME():
    pass

In [ ]:
new_obj = CLASSNAME()
new_obj

In [28]:
class CLASSNAME():
    var1 = 25
    
    def fun1():
        pass

In [30]:
new_obj = CLASSNAME()
type(new_obj)
new_obj.var1

__main__.CLASSNAME

25

In [25]:
a = list([1,2,3])
type(a)

list

In [33]:
class Employee():
    # def __init__(self):
    #     pass
    
    def increment_sal():
        pass

In [34]:
emp1 = Employee()
emp1.name = "ali"
emp1.sal = "234"

In [35]:
emp1.name

'ali'

In [36]:
emp2 =Employee()
emp2.name

AttributeError: 'Employee' object has no attribute 'name'

constructor

In [43]:
class Employee():
    def __init__(i1,empname,empsal):
        print("constructor is gettin called")
        i1.empname = empname
        i1.empsal = empsal
        
    
    def increment_sal(i1):
        i1.empsal = i1.empsal*20
    


emp1 = Employee('ali',2123)
emp2 = Employee("Prasad",234)
emp2.increment_sal()
emp2.empsal
emp1.empsal

constructor is gettin called
constructor is gettin called

4680

2123

In [52]:
class Employee():
    class_var = 234
    def __init__(self,empname,empsal):
        print("constructor is gettin called")
        self.empname = empname
        self.empsal = empsal
        
    # object method
    def increment_sal(self):
        self.empsal = self.empsal*20
    
    #class method because no self
    def employee_count():
        print("this is a clalss method")


emp1 = Employee("asd",234)
emp1.increment_sal()
# emp1.employee_count() # this will throw error.
Employee.employee_count()
emp1.class_var=34
print("After chaing value of class variable ",emp1.class_var)
emp2= Employee("wsfd0",2345)
print("After chaing value of class variable from objec2",emp2.class_var)

constructor is gettin called
this is a clalss method
After chaing value of class variable  34
constructor is gettin called
After chaing value of class variable from objec2 234

In [53]:
class Employee():
    class_var = 234
    def __init__(self,empname,empsal):
        print("constructor is gettin called")
        self.empname = empname
        self.empsal = empsal
        
    # object method
    def increment_sal(self):
        self.empsal = self.empsal*20
    
    #class method because no self
    def employee_count():
        print("this is a clalss method")


emp1 = Employee("asd",234)
emp1.increment_sal()
# emp1.employee_count() # this will throw error.
Employee.employee_count()
Employee.class_var=34
print("After chaing value of class variable ",emp1.class_var)
emp2= Employee("wsfd0",2345)
print("After chaing value of class variable from objec2",-.class_var)

constructor is gettin called
this is a clalss method
After chaing value of class variable  34
constructor is gettin called
After chaing value of class variable from objec2 34

In [55]:
class Employee():
    class_var = 234
    def __init__(self,empname,empsal):
        print("constructor is gettin called")
        self.empname = empname
        self.empsal = empsal
        
    # object method
    def increment_sal(self):
        self.empsal = self.empsal*20
    
    #class method because no self
    def employee_count():
        print("this is a clalss method")


emp1 = Employee("asd",234)
emp1.increment_sal()
# emp1.employee_count() # this will throw error.
Employee.employee_count()
emp1.class_var=23466
print("After chaing value of class variable ",emp1.class_var)
emp2= Employee("wsfd0",2345)
print("After chaing value of class variable from objec2",emp2.class_var)
Employee.class_var=34
print("2After chaing value of class variable ",emp1.class_var)
print("2After chaing value of class variable from objec2",emp2.class_var)

constructor is gettin called
this is a clalss method
After chaing value of class variable  23466
constructor is gettin called
After chaing value of class variable from objec2 234
2After chaing value of class variable  23466
2After chaing value of class variable from objec2 34

In [ ]:
class Employee():
    
    def __init__(self,empname,empsal):
        print("constructor is gettin called")
        self.empname = empname
        self.empsal = empsal
        
    # object method
    def increment_sal(self):
        self.empsal = self.empsal*20
    
    #class method because no self
    def employee_count():
        print("this is a clalss method")